.cover__subtitle:hover ~ .cover__image {
  opacity: 0.2;
}

.cover__subtitle {
  margin: 0;
  padding: 0;
  z-index: 3;
  font-weight: normal;
  width: 100%;
  text-align: center;
  color: #fff;
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (min-width: 1280px) {
  .cover__subtitle {
  }
}

@media screen and (max-width: 1279px) {
  .cover__subtitle {
  }
}

@media screen and (max-width: 1023px) {
  .cover__subtitle {
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
  }
}

@media screen and (max-width: 424px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}
