.logo {
  width: 176px;
  height: 52px;
}

@media screen and (min-width: 1280px) {
  .logo {
    padding: 28px 48px;
  }
}

@media screen and (max-width: 1279px) {
  .logo {
    padding: 28px 48px;
  }
}

@media screen and (max-width: 1023px) {
  .logo {
    padding: 28px 24px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    padding: 28px 24px;
  }
}

@media screen and (max-width: 424px) {
  .logo {
    width: 142px;
    height: 42px;
    padding: 16px 16px;
  }
}
