.menu__item {
  display: inline;
  padding-right: 18px;
}
.menu__item:last-child {
  padding-right: 0px;
}

@media screen and (max-width: 767px) {
  .menu__item {
    display: block;
    padding-bottom: 32px;
  }
}
