@media screen and (min-width: 1280px) {
  .menu__item {
    display: inline;
    padding-right: 18px;
  }
  .menu__item:last-child {
    padding-right: 0px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .menu__item {
    display: inline;
    padding-right: 18px;
  }
  .menu__item:last-child {
    padding-right: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu__item {
    display: inline;
    padding-right: 18px;
  }
  .menu__item:last-child {
    padding-right: 0px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .menu__item {
    display: block;
    padding-bottom: 32px;
  }
  .menu__item:last-child {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 424px) {
  .menu__item {
    display: block;
    padding-bottom: 32px;
  }
  .menu__item:last-child {
    padding-bottom: 0px;
  }
}
