.lead__image-label {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .lead__image-label {
  }
}

@media screen and (max-width: 1279px) {
  .lead__image-label {
  }
}

@media screen and (max-width: 1023px) {
  .lead__image-label {
    padding: 0 24px 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image-label {
    padding: 0 24px 0 24px;
  }
}

@media screen and (max-width: 424px) {
  .lead__image-label {
    padding: 0 16px 0 16px;
  }
}
