.places__link-container {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .places__link-container {
    max-width: 456px;
    padding-right: 28px;
  }
}

@media screen and (max-width: 1279px) {
  .places__link-container {
    max-width: 456px;
    padding-right: 0;
  }
}

@media screen and (max-width: 1023px) {
  .places__link-container {
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .places__link-container {
    max-width: 352px;
  }
}

@media screen and (max-width: 424px) {
  .places__link-container {
    display: none;
  }
}
